In [1]:
import os
import re
import shutil
import sqlite3
import pandas as pd

In [2]:
os.chdir("csv")
print("Directory changed to csv folder")

Directory changed to csv folder

In [3]:
csv_files = []

for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csv_files.append(file)

In [4]:
csv_files

['Customer Contracts$.csv', 'Customer Demo.csv', 'Customer Engagements.csv']

In [5]:
dataset_dir = 'datasets'

try:
    mkdir = 'mkdir {0}'.format(dataset_dir)
    os.system(mkdir)
except:
    print("Directory already exists or there is another error")

In [6]:
src_dir = "."
dst_dir = "./datasets"

try:
    for root, dirs, files in os.walk(src_dir):
        for f in files:
            if f.endswith('.csv'):
                shutil.move(os.path.join(root,f), dst_dir)
        print(f"File {f} moved successfully")
except:
    print("There are no CSV files to move")

File Customer Engagements.csv moved successfully
File Customer Engagements.csv moved successfully
File Customer Engagements.csv moved successfully
There are no CSV files to move

In [7]:
data_path = os.getcwd()+'/'+dataset_dir+'/'

df = {}
for file in csv_files:
    try:
        df[file] = pd.read_csv(data_path+file)
    except UnicodeDecodeError:
        df[file] = pd.read_csv(data_path+file, encoding="ISO-8859-1")
    print(f"{file} read successfully")

Customer Contracts$.csv read successfully
Customer Demo.csv read successfully
Customer Engagements.csv read successfully

In [8]:
# Check dfs
df['Customer Demo.csv']

   customer_id customer_name  employee_count office_location
0          101          Nike          120000          Oregon
1          102        Reebox            5000      California
2          103        Adidas            8000              CA
3          104        Google          500000              CA
4          105        Amazon          200000      Washington
5          106      Facebook           40002              CA
6          107         Apple            8000              CA
7          108        Airbnb          500000              CA
8          109          Nest          200000              CA
9          110         Canon           40002              NY

In [9]:
df['Customer Engagements.csv']

   customer_id  num_of_users _of_all_employees sso launched
0          101         10000               65%   Y      Yes
1          102         23423               80%   N       No
2          103         34556               30%   Y      Yes
3          104        123123               33%   N       No
4          105         19832               36%   Y      Yes
5          106          1243               75%   N       No
6          107          1231               42%   Y      Yes
7          108         12200               90%   N       No
8          109           200               48%   Y      Yes
9          110          1100               51%   N       No

In [10]:
for k in csv_files:
    dataframe = df[k]
    
    clean_table_name = k.lower().replace(" ", "_").replace(r"/""\\", "_")
    clean_table_name = re.sub(r'[^a-zA-Z0-9_.]','', clean_table_name)    
    
    dataframe.columns = [x.lower().replace(" ", "_").replace(r"/""\\", "_").strip() for x in dataframe.columns]
    dataframe.columns = dataframe.columns.str.replace('[^A-Za-z\s_.]+', '', regex=True)
    
    table_name = '{0}'.format(clean_table_name.split('.')[0])
    
    new_dtypes = {
    'object': 'varchar',
    'float64': 'float',
    'int64': 'int',
    'datetime64': 'timestamp',
    'timedelta64[ns]': 'varchar'
    }
    
    col_strings = ", ".join("{} {}".format(n, d) for (n, d) in zip(dataframe.columns, dataframe.dtypes.replace(new_dtypes)))
    
    conn = sqlite3.connect('customers')
    c = conn.cursor()

    c.execute('''
    CREATE TABLE IF NOT EXISTS table_name (
    col_strings    
    )
    ''')
    print('{0} was created sucessfully'.format(table_name))
    conn.commit()
    
    dataframe.to_sql(table_name, conn, if_exists='replace', index=False)
    
    conn.close()

customer_contracts was created sucessfully
customer_demo was created sucessfully
customer_engagements was created sucessfully